In [2]:
import sqlite3
import pandas as pd

# --------------------------------------------------
# 1️⃣ Connect to database
# --------------------------------------------------
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

# --------------------------------------------------
# 2️⃣ Create mentors table
# --------------------------------------------------
cursor.execute("""
CREATE TABLE IF NOT EXISTS mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
""")

mentor_data = [
    (1, "Dr. Sharma", "Data Science"),
    (2, "Mr. John", "Web Dev"),
    (3, "Ms. Kavya", "UI/UX")
]

cursor.executemany("INSERT OR IGNORE INTO mentors VALUES (?, ?, ?)", mentor_data)

conn.commit()

# --------------------------------------------------
# 3️⃣ INNER JOIN Query
# --------------------------------------------------
query = """
SELECT interns.name, interns.track, mentors.mentor_name
FROM interns
INNER JOIN mentors
ON interns.track = mentors.track
"""

# --------------------------------------------------
# 4️⃣ Load result into Pandas
# --------------------------------------------------
df = pd.read_sql_query(query, conn)

print("Interns with their Mentors:")
print(df)

conn.close()

Interns with their Mentors:
    name         track mentor_name
0  Pooja  Data Science  Dr. Sharma
1  Rahul       Web Dev    Mr. John
2   Amit  Data Science  Dr. Sharma
3  Sneha         UI/UX   Ms. Kavya
4  Karan       Web Dev    Mr. John