In [6]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("internship.db")

# 1️⃣ Filter
pd.read_sql_query("""
SELECT * FROM interns
WHERE track = 'Data Science' AND stipend > 5000
""", conn)

# 2️⃣ Average stipend
pd.read_sql_query("""
SELECT track, AVG(stipend) AS avg_stipend
FROM interns
GROUP BY track
""", conn)

# 3️⃣ Count interns
pd.read_sql_query("""
SELECT track, COUNT(*) AS total_interns
FROM interns
GROUP BY track
""", conn)

          track  total_interns
0  Data Science              2
1         UI/UX              1
2       Web Dev              2